@page
@inject IHttpContextAccessor _context;
@inject IDataProtectionProvider _dataProtectionProvider;
@using Microsoft.AspNetCore.DataProtection
@model laujiayuan.Pages.user_detail4Model
@{
}
<link rel="stylesheet" href="path/to/bootstrap-datepicker.css">
<script src="path/to/bootstrap-datepicker.js"></script>
<script src="path/to/bootstrap-datepicker.en.min.js"></script>
<link rel="stylesheet" href="path/to/bootstrap.min.css">
<link rel="stylesheet" href="path/to/zxcvbn.min.css">
<script src="path/to/jquery.min.js"></script>
<script src="path/to/bootstrap.min.js"></script>
<script src="path/to/zxcvbn.min.js"></script>
@{
    // Retrieve the protected email from the session
    var email_data = _context.HttpContext.Session.GetString("User_Email");
    var who_am_I = _context.HttpContext.Session.GetString("WAI");
    var DOB = _context.HttpContext.Session.GetString("DOB");
    var firstname = _context.HttpContext.Session.GetString("First_Name");
    var lastname = _context.HttpContext.Session.GetString("Last_Name");
    var Nric = _context.HttpContext.Session.GetString("NRIC");


    var get_who_am_i = "";
    var get_DOB = "";
    var get_name = "";
    var get_email = "";
    var Get_NRCI = "";
    if (email_data != null && Nric != null && who_am_I != null)
    {

        var IC_protector = _dataProtectionProvider.CreateProtector("NRIC");
        var protector = _dataProtectionProvider.CreateProtector("EmailProtection");
        get_who_am_i = System.Web.HttpUtility.HtmlDecode(who_am_I);
        get_email = protector.Unprotect(email_data);
        Get_NRCI = IC_protector.Unprotect(Nric);

    }
    else
    {
        get_email = "";
    }


    if (who_am_I != null && DOB != null && firstname != null && lastname != null)
    {
        get_who_am_i = who_am_I;
        get_DOB = DOB;
        get_name = firstname + ' ' + lastname;
    }
    else
    {
        get_who_am_i = "";
        get_DOB = "";
        get_name = "";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>User Name: @get_email</p>

    <p>User Date of Birth: @get_DOB</p>

    <p>User Email: @get_email</p>

    <p>NRIC: @Html.Raw("XXXXXX" + Get_NRCI[^4..])</p>

    <p>User Who Am I: @Html.Raw(System.Web.HttpUtility.HtmlDecode(get_who_am_i))</p>

</div>